{% extends 'base.html' %}

{% block content %}
<h2>Add Meal</h2>

<form method="POST" class="card p-4 shadow-sm">
    <div class="mb-3">
        <label class="form-label">Meal Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <select name="category" class="form-select">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>
    </div>

    <button class="btn btn-success">Save Meal</button>
</form>
{% endblock %}